.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #282c34;
  padding: 10px 20px;
  color: white;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 15px;
}

.navbar a {
  color: white;
  text-decoration: none;
}
